@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(90deg, red, blue, white);
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
    color: white;
}

form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0;
}

input, 
button {
    background-color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
}

input {
    font-weight: bold;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
}

.poke-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.poke-box {
    width: 180px;
    background-color: white;
    border-radius: 15px;
    padding: 5px 0;
    margin: 10px;
    justify-content: center;
}

.poke-box img {
    margin: 10px 0;
    width: 50%;
}

.poke-box h4 {
    font-size: 1.4rem;
    margin: 5px auto;
}

.poke-box p {
    margin: 5px auto;
}
